.search {
    display: flex;
    gap: 0.5rem;

    font-size: 1rem;
}

.input {
    width: 100%;
    padding: 0 0.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: inherit;
    font-weight: 400;
    color: #000;
}

.button {
    width: 233px;
    height: 57px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
    font-size: inherit;
    font-weight: 400;
    color: #fff;
    background-color: red;
}
