.app-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.app {
    width: 1268px;
}

.sort-control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.add-movie {
    all: unset;
    cursor: pointer;
    color: #fff;
    padding: 1rem;
    background-color: red;
    float: right;
}
